language: ruby
cache: bundler

rvm:
  - 2.4.2
  - 2.3.5

env:
  matrix:
    - PG_VERSION=9.4
    - PG_VERSION=9.5
    - PG_VERSION=9.6

before_install:
  - git config --global user.name "Prodder In Travis-CI"
  - git config --global user.email "prodder@example.com"
  # setup pg_dump
  - sudo ln -sfn /usr/lib/postgresql/$PG_VERSION/bin/pg_dump /usr/bin/pg_dump
  # start up the specific version of PG
  - sudo -E sh -c 'service postgresql stop'
  - sleep 5s
  - sudo -E sh -c 'service postgresql start $PG_VERSION'
  - psql -U postgres -d postgres -c 'select setting from pg_settings where name = $m$server_version$m$;'

script:
  - psql --version
  - pg_lsclusters
  - psql -U postgres -d postgres -c 'select 1;'
  - ls -al `which pg_dump`
  - bundle exec rake spec
  - bundle exec rake cucumber

deploy:
  provider: rubygems
  api_key:
    secure: "UhUkPFhEuI1dLPa4skTUdOBcGY2SEkRP3N9jLDQad04DflV+GutcjrfN1iQxWk59gVt3zqird5FS8SdwCFuOn8DAU9ACtg73xiPPWRRTdzma4Qw+4thuOHcdwPBz3762YFTRyH7IbRTAlxaD6qPz6US3BnYAkJU7C8c30rHLX6cZutjLV4FsvWonkzxcjyEUViVEdBM0kzI+tdBnQovpcM67a9AfxxBZITJLIfIcah1qc/RANpLkUFJCwNyH9oARWsGIvpIKcQEJBhsl04tvbNRLpiMCk1e1RS1bjMdbbx/rVm3C7dvAjUznbr3ON9abgoe6QDDYr6kXPJbylmxFUzA7ftBWjz2nNruRncsohx08LaM4ADRJWKB3XbP5BXkwUgE672Fi20+Z78LwWfjrr3iRVm7u9Mt9pZHG6Ih8Jy64Uq3647kdVZu9APPfn1NZETFG7vLAMZUtPXv7HBkujlq23XdYXax1XYYbYsM0LOlnG6ol2y6OrBrxWIqC+E8UmLXf/+/MS4j3v2RAe7jXh6fFlw+5MjLr3HXqZ12CrAChp22NRPp1OY4Hac4zzRwGeVOgewknpOK7qQfVFFaQoQksU6VaenSx+TxcYOZYuQdrQjfbO6c+Q/vvZ1RoPOEwH0AelkrW2eGqQTNVWIbH5vvfhys68SA8ov8gNnIzMtU="
  gem: prodder
  on:
    tags: true
    repo: enova/prodder
